:root {
    --color1: #FF9900;
}

.LoginImage {
    background-image: url('DashboardLogin.jpg'); /* Caminho da sua imagem de fundo */
    background-size: cover; /* Cobrir toda a área da viewport */
    background-position: center; /* Centraliza a imagem */
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevenir rolagem lateral no body */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; /* Garantir que ocupe 100% da largura da viewport */
    overflow: hidden; /* Prevenir rolagem lateral */
}

.login-box {
    display: flex;
    flex-direction: column;
    width: 387px;
    padding: 40px;
    border-radius: 20px;
    box-sizing: border-box; /* Garantir que o padding seja incluído na largura total */
    z-index: 2; /* Garantir que o login-box esteja acima do círculo */
    margin-top: 120px;
    margin-right: 40px;
}

.login-button {
    margin-top: 20px; /* Diminuir espaço entre o campo de senha e o botão de login */
    height: 50px; /* Aumentar a altura do botão */
    width: 100%; /* Ajustar para ocupar 100% do contêiner */
    padding: 10px;
    background-color: white;
    color: #004A91;
    border: none;
    border-radius: 0px; /* Retirar bordas arredondadas para botão quadrado */
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2); /* Adicionar sombra pequena */
    box-sizing: border-box; /* Garantir que o padding seja incluído na largura total */
}

.circle {
    position: absolute;
    bottom: -25%;
    left: -25%;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    z-index: 1;
}

.login-button:hover {
    background-color: #5495bd;
}

.loginInput {
    border-radius: 0px; /* Retirar bordas arredondadas para input quadrado */
    height: 50px; /* Aumentar a altura do input */
    width: 100%; /* Ajustar para ocupar 100% do contêiner */
    font-size: 20px;
    border: 1px solid white; /* Bordas brancas */
    padding: 0 10px; /* Adicionar padding horizontal */
    box-sizing: border-box; /* Garantir que o padding seja incluído na largura total */
}

.loginInput::placeholder {
    color: #004A91; /* Placeholder branco */
}

.email {
    padding-top: 30px;
}

.senha {
    margin-top: 20px; /* Diminuir espaço entre o email e o campo de senha */
}

@media (max-width: 600px) {
    .login-box {
        width: 90%; /* Ajuste a largura da caixa de login para ocupar 90% da tela */
        padding: 20px; /* Reduza o padding para dispositivos móveis */
        margin-top: 60px; /* Ajuste a margem superior conforme necessário */
        margin-right: 0; /* Ajuste a margem direita para dispositivos móveis */
    }

    .loginInput {
        font-size: 16px; /* Reduza o tamanho da fonte para inputs em telas menores */
    }

    .login-button {
        height: 40px; /* Ajuste a altura do botão para dispositivos móveis */
        font-size: 16px; /* Ajuste o tamanho da fonte do botão */
    }

    .circle {
        width: 50vw; /* Ajuste o tamanho do círculo para se adaptar melhor em telas menores */
        height: 50vw;
        bottom: -10%;
        left: -10%;
    }
}
